<!---article_list.html--->
{% extends "base.html" %}

{% block title %}Блог{% endblock %}

{% block content %}
<h1 class="mb-4">Блог</h1>

{% if articles %}
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for article in articles %}
    <div class="col d-flex">
        <div class="card h-100 w-100 d-flex flex-column">

            <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ article.title }}</h5>

                <p class="card-text flex-grow-1">
                    {{ article.description|truncatewords:20 }}
                </p>
                <p class="text-muted">Автор: {{ article.author }}</p>

                <a href="{% url 'article_detail' article.pk %}" class="btn btn-primary mt-auto">
                    Читать далее
                </a>
            </div>

        </div>
    </div>
    {% endfor %}
</div>

{% else %}
<p>Пока нет статей.</p>
{% endif %}
{% endblock %}
