<!-- neo.html -->
{% extends "base.html" %}

{% block body_class %}neo-dark{% endblock %}

{% block extra_head %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-numbers/prism-line-numbers.min.css" rel="stylesheet" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-python.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-batch.min.js"></script>

<style>
body.neo-dark {
    background-color: #1e1e1e;
    color: #d4d4d4;
}
.container h2, .container h4 {
    color: #d4d4d4;
}
</style>
{% endblock %}

{% block content %}

<div class="container mt-4">

    <h2 class="mb-4">Код проекта</h2>

    <section class="mb-5">
        <h4>models.py</h4>
        <pre class="line-numbers"><code class="language-python">{{ models_code }}</code></pre>
    </section>

    <section class="mb-5">
        <h4>views.py</h4>
        <pre class="line-numbers"><code class="language-python">{{ views_code }}</code></pre>
    </section>

    <section class="mb-5">
        <h4>urls.py</h4>
        <pre class="line-numbers"><code class="language-python">{{ urls_code }}</code></pre>
    </section>

    <section class="mb-5">
    <h4>run_django.bat</h4>
    <pre class="line-numbers"><code class="language-batch">{{ run_bat }}</code></pre>
    </section>

    <section class="mb-5">
    <h4>stop_django.bat</h4>
    <pre class="line-numbers"><code class="language-batch">{{ stop_bat }}</code></pre>
    </section>



</div>
{% endblock %}

