# .gitignore
# ============================
# Python
# ============================
__pycache__/
*.py[cod]
*$py.class

# ============================
# Virtual environments
# ============================
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# ============================
# Django
# ============================
*.log
db.sqlite3
db.sqlite3-journal
local_settings.py

# ============================
# Static & media (если появятся)
# ============================
staticfiles/
media/

# ============================
# IDE / Editor
# ============================
.idea/
.vscode/
*.iml

# ============================
# Bytecode / cache
# ============================
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.dmypy.json
.cache/

# ============================
# Build / packaging
# ============================
*.egg-info/
dist/
build/
.eggs/

# ============================
# Jupyter
# ============================
.ipynb_checkpoints/

# ============================
# Tools
# ============================
.ruff_cache/
.pdm.toml
.pdm-python
.pdm-build/
.cursorignore
.cursorindexingignore

# ============================
# OS files
# ============================
.DS_Store
Thumbs.db

# Environment variables
MyDJProdj/.env

