<!---news/templates/news/home.html--->
{% extends "base.html" %}

{% block title %}Новости{% endblock %}

{% block content %}
<h1 class="mb-4">Все новости</h1>

<div class="row">
    {% for item in news %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.short_description }}</p>

                    <small class="text-muted">
                        Автор: {{ item.author.get_full_name|default:item.author.username }}
                    </small>

                    <div class="mt-3">
                        <a href="{% url 'news_detail' item.pk %}" class="btn btn-primary btn-sm">
                            Читать далее
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <p>Новостей пока нет.</p>
    {% endfor %}
</div>

{% endblock %}
